.active{
    border-bottom: 3px solid #29b6f6;
  transition: all .3s ease-in-out;
  color: white;
  background-color: #666;
  box-shadow: #333 inset 1px 1px 1px 1px;
  font-size: 1.2em;
  transform: translateX(15px);
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}

.nav-link--style{
    border-bottom: 3px solid #29b6;
    border-bottom-left-radius: 20px ;
    transform: translateX(15px);
}

.nav-link:hover{
    color: turquoise;
}